$mobile: 780px;
$tablet: 1000px;
$container-margin: 200px;
@mixin count-display {
    padding: 4px;
    color: var(--ifm-color-secondary-darkerest);
    background-color: var(--ifm-color-primary-contrast-background);
    border-radius: var(--ifm-global-radius);
}
.charSelector {
    max-width: 500px;
    max-height: 150px;
}
.container {
    border-radius: 14px;
    overflow: hidden;
    position: absolute;
    top: 268px;
    left: 0;
    right: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(126, 76, 76, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
    .input {
        overflow: auto;
        max-height: 60vh;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px 0px, rgba(0, 0, 0, 0.12) 0px 1px 4px 0px;
        background-color: var(--ifm-background-surface-color);    
        @media only screen and (max-width: $mobile) {
            max-width: 95vw;
            max-height: 70vh;
            top: 100px;
        }
        .checkboxContainer {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 3px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            input {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 4px;
                background-color: gray;
                transition-duration: 0.3s;
            }
            span {        
                @include count-display;
                margin-left: 0.25rem;
                font-size: smaller;
                min-width: 3rem;
            }
            @media only screen and (max-width: $mobile) {
                grid-template-columns: repeat(3, 1fr);
                font-size: smaller;
                gap: 2px;
            }
            @media only screen and (min-width: $mobile) and (max-width: $tablet) {
                grid-template-columns: repeat(4, 1fr);
            }
            & label {
                display: inline-block;
                vertical-align: middle;
                padding-left: 4px;
            }
            & > div > * {
                    vertical-align: middle;
            }
        }   
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    #closeButton {
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        border-radius: var(--ifm-button-border-radius);
        &>:is(img, span) {
            vertical-align: middle;
        }
        &:hover {
            background-color: grey;
        }
    }
    #clearAllButton {
      border-radius: var(--ifm-button-border-radius);
      border: 1px solid #777; 
      background-color: var(--ifm-background-surface-color);
      color: var(--ifm-color-content-secondary);
      padding: 6px;
      &:hover {
        cursor: pointer;
        filter: brightness(90%);
      }
    }
}
.hidden {
    display: none;
}
.charShow {
    margin-left: 2rem;
    font-family: inherit;
    font-weight: var(--ifm-button-font-weight);
    text-decoration: none;
    font-size: 16px;
    @media only screen and (max-width: $mobile) { margin-left: 0px; }
    border: solid 1px #777;
    border-radius: var(--ifm-button-border-radius);
    &.charSelected {
        box-shadow: inset 0 0 0 2px var(--ifm-color-primary);
    }
    .charCount {
        color: var(--ifm-color-primary);
        min-width: 1rem;
    }
    span {
        line-height: 14px;
        font-size: 16px;
        padding: 4px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;    
    }
    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
}

